/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('../fonts/montserrat-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v12-latin-regular.woff') format('woff'); /* Modern Browsers */  
}

/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
       url('../fonts/montserrat-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v12-latin-700.woff') format('woff'); /* Modern Browsers */
}

/* Droid Serif - latin */
@font-face { 
  font-family: 'Droid Serif';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/DroidSerif-Italic-webfont.woff') format('woff');
}

/* Roboto slab */
@font-face { 
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserat-Regular'),
        url('../fonts/roboto-slab-v8-latin-regular.woff2') format('woff2'),
        url('../fonts/roboto-slab-v8-latin-regular.woff') format('woff');
}